.side
  .side__header
    .side__header__box
      %p.UserName masa
      .side__header__box__Menu
        = link_to "#", class: "btn" do
          = icon('fas', 'edit',  class: "icon-edit")
          %span<>
        = link_to "#", class: "btn" do
          = icon('fas', 'cog',  class: "icon-cog")
  .groups
    .groups__name techcamp
    .groups__message まだメッセージがありません

    